<h1><a href="/places/<%= @place["name"] %>"></a></h1>
<ul>
  <% for entry in @entries%>
    <li>
      <a href="/places/<%= @place["id"] %>"><%= @place["name"] %></a>
    </li>
  <% end %>
</ul>

<p><a href="/places/new">Add a new place</a></p>